.container{
  max-width: 100%;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}

.page-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-filters .filter:first-of-type {
  padding-left: 0;
}

.page-filters .filter:last-of-type {
  padding-right: 0;
}

.filters-selecter {
  margin-bottom: 14px;
}

.filters-btns {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

.filters-btns .btn {
  width: 45%;
}